body {
  background-color: #FFC0C0;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.padded-multi-line {
  display: inline;
  background: orange;
  box-shadow: 10px 0 0 orange, -10px 0 0 orange;
}

h1 {
  font-family: 'Chela One', cursive;
  font-size: 50px;
}

p {
  font-family: 'Gaegu', cursive;
  font-size: 25px;
}

Button {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 14px!important;
}